{% extends 'blog/basic.html' %}
{% block title %}
Blog | Awesome Cart
{% endblock %}

{% block body %}
<div class="container my-5">
  <div class="row mb-2">
   {% for item in mypost %}
  

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">{{item.title}} f</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="post/{{item.post_id}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
         <img src="/media/{{item.thumbnail}}" alt="" width="200px" height="auto">
        </div>
      </div>
    </div>
  {% if forloop.counter|divisibleby:2 and forloop.counter > 0 %}
  </div>
   <div class="row mb-2">
   {% endif %}
 
  {% endfor %}
  </div>
</div>
{% endblock %}